<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @car.name %>
</p>

<!-- default -->
<p>
  Speed : <%= rating_for @car, 'speed' %>
</p>

<!-- disableafterrate -->
<!-- <p>
  Speed : <%= rating_for @car, 'speed', disable_after_rate: false %>
</p>  -->

<!-- star -->
<!-- <p>
  Speed : <%= rating_for @car, 'speed', star: 10 %>
</p> -->

<!-- half-star -->
<!-- <p>
  Speed : <%= rating_for @car, 'speed', disable_after_rate: false, tar: 5, enable_half: true %>
</p> -->

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
